---
layout: contact
title: "Millto | Contact and Customer Service"
description: "Are you interested in our offer? Do you have any questions?  👈 Contact our employees 👨‍🔧 We promise to help you as soon as possible."
---
<div class="page page-contact">
    <div class="beams-wrapper global-beam-wrapper">
        <div class="beam">
            <nav class="beam-item">
                <ul class="breadcrumbs">
                    {% for item in site.data.menu-pages %}
                      {% if  item.pagename == "home" %}
                        <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                      {% endif %}
                      {% if  item.pagename == "contact" %}
                        <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                      {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <main class="beam b-size-5 contact-content">
            <div class="beam-item b-size-3 contact-text">
                <h1>Contact</h1>
                <p>If you have any questions concerning our offer or the products – you can contact our employees, who will happily help you and provide you with all needed information.</p>
                <p><b>You, the Customer are of the highest importance to us</b> - we offer you three different contact channels. Pick the one that suits you the most!</p>
                <div class="contact-beam">
                    <a href="tel:+48882505980" class="phone">
                        <img src="/assets/img/icon-phone.svg" alt="{{site.data.translations.phoneicon[page.lang]}}">
                        <div class="content">
                            {{site.data.translations.callnow[page.lang]}}
                            <span>+48 882 505 980</span>
                        </div>
                    </a>
                    <a href="mailto:biuro@millto.com" class="mail">
                        <img src="/assets/img/icon-mail.svg" alt="{{site.data.translations.emailicon[page.lang]}}">
                        <div class="content">
                            {{site.data.translations.sendemail[page.lang]}}
                            <span>biuro@millto.com</span>
                        </div>
                    </a>
                    <a href="mailto:k.ignacyk@millto.com" class="mail">
                        <img src="/assets/img/icon-chat.svg" alt="{{site.data.translations.chaticon[page.lang]}}">
                        <div class="content">
                            {{site.data.translations.startchat[page.lang]}}
                            <span>online</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="beam-item b-size-2">
                <div class="sticky-element">
                    {% include parts/contact-profile.html %}
                </div>
            </div>
        </main>
    </div>
</div>
