---
layout: index
title: "Millto | Heating systems, sanitary wares, construction materials"
description: "Millto is a comprehensive answer to the needs of a building and people living inside. We offer a proven selection of wares complying with all standards"

---
<div class="beams-wrapper global-beam-wrapper">
    <aside class="beam b-size-6 index-banners">
        <div class="beam-item b-size-6">
            <section class="main-banner">
                <img src="/assets/img/banner-main.png" alt="Rozdzielacze do centralnego ogrzewania">
                <div class="content">
                    <h3 class="h-xl">Brass central heating manifolds </h3>
                    <p>A manifold is a commonly used element in the recent years – both in residential and industrial buildings. It can be used for radiators as well as floor heating systems.</p>
                    <a href="" class="btn">More information</a>
                </div>
            </section>
        </div>
        <div class="beam-item b-size-2">
            <a href=""class="small-banner">
                <div class="banner-img">
                    <img src="/uploads/glowica-test.jpg" alt="Thermostatic Valve">
                </div>
                <div class="banner-title">
                    <span>Thermostatic Valve</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="64.705" height="22.828" viewBox="0 0 64.705 22.828">
                        <g transform="translate(-153.241 -945.586)">
                            <path data-name="Path 18" d="M1043.117,958.531h60.876" transform="translate(-889.876 -1.531)" fill="none" stroke="#efefef" stroke-width="4"/>
                            <path data-name="Path 19" d="M1132.211,946.051l10,10-10,10" transform="translate(-927.093 0.949)" fill="none" stroke="#efefef" stroke-width="4"/>
                        </g>
                    </svg>
                </div>
            </a >
        </div>
        <div class="beam-item b-size-2">
            <a href=""class="small-banner">
                <div class="banner-img">
                    <img src="/uploads/osadnik-test.jpg" alt="Gully trap">
                </div>
                <div class="banner-title">
                    <span>Gully<br>trap</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="64.705" height="22.828" viewBox="0 0 64.705 22.828">
                        <g transform="translate(-153.241 -945.586)">
                            <path data-name="Path 18" d="M1043.117,958.531h60.876" transform="translate(-889.876 -1.531)" fill="none" stroke="#efefef" stroke-width="4"/>
                            <path data-name="Path 19" d="M1132.211,946.051l10,10-10,10" transform="translate(-927.093 0.949)" fill="none" stroke="#efefef" stroke-width="4"/>
                        </g>
                    </svg>
                </div>
            </a >
        </div>
        <div class="beam-item b-size-2">
            <a href=""class="small-banner">
                <div class="banner-img">
                    <img src="/uploads/pokrywa-test.jpg" alt="Manhole cover">
                </div>
                <div class="banner-title">
                    <span>Manhole<br>cover</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="64.705" height="22.828" viewBox="0 0 64.705 22.828">
                        <g transform="translate(-153.241 -945.586)">
                            <path data-name="Path 18" d="M1043.117,958.531h60.876" transform="translate(-889.876 -1.531)" fill="none" stroke="#efefef" stroke-width="4"/>
                            <path data-name="Path 19" d="M1132.211,946.051l10,10-10,10" transform="translate(-927.093 0.949)" fill="none" stroke="#efefef" stroke-width="4"/>
                        </g>
                    </svg>
                </div>
            </a >
        </div>
    </aside>
    <div class="beam b-size-6 beam-border index-content">
        <div class="beam-item b-size-3">
            <h1 class="h2 first-h">Heating systems, sanitary wares, construction materials - discover the possibilities of your house!</h1>
            <p>Millto stands for a comprehensive answer to the needs of a building and people living inside. Being aware how important safety is, we offer only proven and fully tested selection of wares which comply with all standards. With our products you can discover the real comfort.</p>
        </div>
        <div class="beam-item b-size-3">
            <h2 class="h2 first-h">Your satisfaction is crucial</h2>
            <p>Functional equipment alone is simply not enough - it should be also easy to install and use. Consciously and carefully selected products are a guarantee of satisfaction. Contrary to popular belief - sanitary wares and systems do not have to be as complicated as they usually seem.</p>
        </div>
    </div>
    <section class="beam b-size-6 beam-border index-blog">
        <div class="beam-item b-size-2">
            <h2 class="first-h">Learn something more</h2>
            <p>Perhaps you are interested in heating and plumbing systems. Maybe you want to learn how to achieve the interior design goals you have set for yourself. Or maybe you just want to satisfy your curiosity? Regardless, feel free to choose an interesting topic and gather knowledge coming from the experts.</p>
           

            <a href="/en/blog.html" class="btn">Read more</a>
        </div>
        {% assign posts=site.posts | where:"lang", page.lang %}
        {% for post in posts  limit: 2 %}
          <div class="beam-item b-size-2">
              {% include parts/articles-listing-boxitem.html post=post %}
          </div>
        {% endfor %}
      </section>
</div>