---
layout: index
title: "Millto | Topné systémy, hygienické výrobky, stavební materiály."
description: "Millto je komplexní odpovědí na potřeby budovy a lidí žijících uvnitř. Nabízíme ověřený výběr zboží, které splňuje všechny standardy."

---
<div class="beams-wrapper global-beam-wrapper">
    <aside class="beam b-size-6 index-banners">
        <div class="beam-item b-size-6">
            <section class="main-banner">
                <img src="/assets/img/banner-main.png" alt="Rozdzielacze do centralnego ogrzewania">
                <div class="content">
                    <h3 class="h-xl">Mosazné rozvody ústředního topení</h3>
                    <p>Potrubí je v posledních letech běžně používaným prvkem – jak v obytných, tak průmyslových budovách. Může být použit jak pro radiátory, tak pro systémy podlahového vytápění.</p>
                    <a href="" class="btn">Více informací</a>
                </div>
            </section>
        </div>
        <div class="beam-item b-size-2">
            <a href=""class="small-banner">
                <div class="banner-img">
                    <img src="/uploads/glowica-test.jpg" alt="Termostatický Ventil">
                </div>
                <div class="banner-title">
                    <span>Termostatický Ventil</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="64.705" height="22.828" viewBox="0 0 64.705 22.828">
                        <g transform="translate(-153.241 -945.586)">
                            <path data-name="Path 18" d="M1043.117,958.531h60.876" transform="translate(-889.876 -1.531)" fill="none" stroke="#efefef" stroke-width="4"/>
                            <path data-name="Path 19" d="M1132.211,946.051l10,10-10,10" transform="translate(-927.093 0.949)" fill="none" stroke="#efefef" stroke-width="4"/>
                        </g>
                    </svg>
                </div>
            </a >
        </div>
        <div class="beam-item b-size-2">
            <a href=""class="small-banner">
                <div class="banner-img">
                    <img src="/uploads/osadnik-test.jpg" alt="Žlab nádrže">
                </div>
                <div class="banner-title">
                    <span> Žlab nádrže</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="64.705" height="22.828" viewBox="0 0 64.705 22.828">
                        <g transform="translate(-153.241 -945.586)">
                            <path data-name="Path 18" d="M1043.117,958.531h60.876" transform="translate(-889.876 -1.531)" fill="none" stroke="#efefef" stroke-width="4"/>
                            <path data-name="Path 19" d="M1132.211,946.051l10,10-10,10" transform="translate(-927.093 0.949)" fill="none" stroke="#efefef" stroke-width="4"/>
                        </g>
                    </svg>
                </div>
            </a >
        </div>
        <div class="beam-item b-size-2">
            <a href=""class="small-banner">
                <div class="banner-img">
                    <img src="/uploads/pokrywa-test.jpg" alt="Poklop na šachtovou rouru">
                </div>
                <div class="banner-title">
                    <span>Poklop na šachtovou rouru</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="64.705" height="22.828" viewBox="0 0 64.705 22.828">
                        <g transform="translate(-153.241 -945.586)">
                            <path data-name="Path 18" d="M1043.117,958.531h60.876" transform="translate(-889.876 -1.531)" fill="none" stroke="#efefef" stroke-width="4"/>
                            <path data-name="Path 19" d="M1132.211,946.051l10,10-10,10" transform="translate(-927.093 0.949)" fill="none" stroke="#efefef" stroke-width="4"/>
                        </g>
                    </svg>
                </div>
            </a >
        </div>
    </aside>
    <div class="beam b-size-6 beam-border index-content">
        <div class="beam-item b-size-3">
            <h1 class="h2 first-h">Topné systémy, hygienické výrobky, stavební materiály - objevte možnosti vašeho domu!</h1>
            <p>Mill to znamená komplexní odpověď na potřeby budovy a lidí žijících uvnitř. Být si vědom, jak důležitá je bezpečnost, nabízíme pouze osvědčené a plně testovány výběr zboží, které splňují všechny standardy. S našimi produkty můžete objevit skutečný komfort.</p>
        </div>
        <div class="beam-item b-size-3">
            <h2 class="h2 first-h">Vaše spokojenost je zásadní</h2>
            <p>Funkční zařízení samo o sobě jednoduše nestačí - mělo by být také snadné instalovat a používat. Vědomě a pečlivě vybrané produkty jsou zárukou spokojenosti. Na rozdíl od všeobecného přesvědčení-hygienické výrobky a systémy nemusí být tak komplikované, jak se obvykle zdají.</p>
        </div>
    </div>
    <section class="beam b-size-6 beam-border index-blog">
        <div class="beam-item b-size-2">
            <h2 class="first-h">Dozvědět se více.</h2>
            <p>Možná se zajímáte o topení a instalatérské systémy. Možná se chcete naučit, jak dosáhnout cílů interiérového designu, které jste si sami stanovili. Nebo chceš jen uspokojit svou zvědavost? Bez ohledu na to, neváhejte si vybrat zajímavé téma a shromažďovat znalosti přicházející od odborníků.</p>
           

            <a href="/cs/blog.html" class="btn">Přečtěte si více.</a>
        </div>
        {% assign posts=site.posts | where:"lang", page.lang %}
        {% for post in posts  limit: 2 %}
          <div class="beam-item b-size-2">
              {% include parts/articles-listing-boxitem.html post=post %}
          </div>
        {% endfor %}
      </section>
</div>