---
layout: products
title: "Millto | Výrobky"
description: "Výběr dílů pro systémy budovy závisí na různých faktorech. Nejdůležitější jsou: kvalita výrobků a jejich bezpečnost."
---
<div class="page page-products-listing">
  <div class="beams-wrapper global-beam-wrapper">
      <div class="beam">
          <nav class="beam-item">
              <ul class="breadcrumbs">
                {% for item in site.data.menu %}
                  {% if  item.pagename == "home" %}
                    <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                  {% endif %}
                  {% if  item.pagename == "products" %}
                    <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                  {% endif %}
                {% endfor %}
              </ul>
          </nav>
      </div>
      <main class="beam b-size-4 products-listing-content">
          <div class="beam-item b-size-3 products-listing-text">
              <h1>Výrobky</h1>
              <p>Rozhodnutí, které prvky jsou vhodné pro stavební systém, závisí na několika důležitých faktorech. Dvě nejdůležitější jsou: kvalita výrobků a jejich úroveň bezpečnosti. Například-pokud chcete vytvořit systém podlahového vytápění, měli byste věnovat pozornost potrubí-mělo by to být co nejefektivnější. Je to docela podobné s vodními systémy.</p>

              
            {% assign product_category_lang = site.product_categories | where: "lang", page.lang %}

              {% for product_category in product_category_lang %}
                {% include parts/product-category-section.html product_category=product_category %}
              {% endfor %}
          </div>
          <div class="beam-item b-size-1">
              <div class="sticky-element">
                  {% include parts/contact-profile.html %}
              </div>
          </div>
      </main>
  </div>
</div>
