---
layout: blog
title: "Millto | Spezialisierte Installationshinweise"
description: "Szukasz specjalistycznych porad związanych z systemami instalacyjnymi budynku? Świetnie, że trafiłeś na blog Millto."
---

<div class="page page-articles-listing">
    <div class="beams-wrapper global-beam-wrapper">
        <div class="beam">
            <nav class="beam-item">
                <ul class="breadcrumbs">
                    {% for item in site.data.menu %}
                      {% if  item.pagename == "home" %}
                        <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                      {% endif %}
                      {% if  item.pagename == "blog" %}
                        <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                      {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <main class="beam b-size-4  articles-listing-content">
            <div class="beam-item b-size-4  articles-listing-text">
                <h1>Blog</h1>
                <p>Suchen Sie spezielle Ratschläge zu Gebäudeanlagen? Schön, dass Sie auf den Millto-Blog gestoßen sind. Hier finden Sie Antworten auf die Fragen, die Sie faszinieren.</p>
            </div>
            {% assign posts=site.posts | where:"lang", page.lang %}
            {% for post in posts %}
              <div class="beam-item b-size-1">
                  {% include parts/articles-listing-boxitem.html post=post %}
              </div>
            {% endfor %}
        </main>
    </div>
</div>
