---
layout: products
title: Millto | Produkte
description: "Die Wahl der Teile für die Systeme eines Gebäudes hängt von verschiedenen Faktoren ab. Die wichtigsten sind: die Qualität der Produkte und ihre Sicherheit."
---
<div class="page page-products-listing">
  <div class="beams-wrapper global-beam-wrapper">
      <div class="beam">
          <nav class="beam-item">
              <ul class="breadcrumbs">
                {% for item in site.data.menu %}
                  {% if  item.pagename == "home" %}
                    <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                  {% endif %}
                  {% if  item.pagename == "products" %}
                    <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                  {% endif %}
                {% endfor %}
              </ul>
          </nav>
      </div>
      <main class="beam b-size-4 products-listing-content">
          <div class="beam-item b-size-3 products-listing-text">
              <h1>Produkte</h1>
              <p>Die Entscheidung, welche Elemente für ein Bausystem geeignet sind, hängt von mehreren wichtigen Faktoren ab. Die beiden wichtigsten sind: die Qualität der Produkte und ihr Sicherheitsniveau. Zum Beispiel - wenn Sie eine Fußbodenheizung erstellen wollen, sollten Sie auf den Verteiler achten - er sollte so effizient wie möglich sein. Ganz ähnlich verhält es sich mit Wassersystemen.</p>

              
            {% assign product_category_lang = site.product_categories | where: "lang", page.lang %}

              {% for product_category in product_category_lang %}
                {% include parts/product-category-section.html product_category=product_category %}
              {% endfor %}
          </div>
          <div class="beam-item b-size-1">
              <div class="sticky-element">
                  {% include parts/contact-profile.html %}
              </div>
          </div>
      </main>
  </div>
</div>
