---
layout: blog
title: title
description: description
---

<div class="page page-articles-listing">
    <div class="beams-wrapper global-beam-wrapper">
        <div class="beam">
            <nav class="beam-item">
                <ul class="breadcrumbs">
                    <li><a href="/pl">Strona główna</a></li>
                    <li><a href="{{ page.url }}">Blog</a></li>
                </ul>
            </nav>
        </div>
        <main class="beam b-size-4  articles-listing-content">
            <div class="beam-item b-size-4  articles-listing-text">
                <h1>Artykuły</h1>
                <p>Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished.</p>
            </div>
            {% for post in site.posts %}
              <div class="beam-item b-size-1">
                  {% include parts/articles-listing-boxitem.html post=post %}
              </div>
            {% endfor %}
        </main>
    </div>
</div>
