---
layout: index
title: "Millto | Technika grzewcza, instalacje wodne, artykuły budowlane"
description: "Produkty Millto to kompleksowa odpowiedź na wszystkie potrzeby budynku i jego mieszkańców. Oferujemy 100% sprawdzony asortyment zgodny ze wszystkimi normami"

---

    <div class="beam b-size-6 beam-border index-content">
        <div class="beam-item b-size-3">
            <h1 class="h2 first-h">Technika grzewcza, instalacje wodne, artykuły budowlane - poznaj możliwości swojego domu!</h1>
            <p>Wyposażenie Millto to kompleksowa odpowiedź na wszystkie potrzeby budynku i jego mieszkańców. Mamy świadomość, jak ważne jest bezpieczeństwo dlatego oferujemy wyłącznie w 100% sprawdzony asortyment zgodny ze wszystkimi normami. Odkryj prawdziwy komfort życia - poznaj naszą ofertę.</p>
        </div>
        <div class="beam-item b-size-3">
            <h2 class="h2 first-h">Stawiamy na Twoje zadowolenie - jesteś dla nas ważny</h2>
            <p>Naszą misją jest zapewnienie klientom rozwiązań, które są funkcjonalne ale także łatwe w montażu i użytkowaniu. Świadomie wybieramy dla Ciebie wyłącznie te produkty, które będą gwarancją Twojego zadowolenia. Dzięki nam obalisz od lat powtarzany mit, że systemy instalacyjne wcale są skomplikowane.</p>
        </div>
    </div>
    <section class="beam b-size-6 beam-border index-blog">
        <div class="beam-item b-size-2">
            <h2 class="first-h">Strefa wiedzy</h2>
            <p>Interesujesz się tematem techniki grzewczej lub systemów instalacyjnych? A może po prostu poszukujesz odpowiedzi na nurtujące Cię pytania, które pojawiły się w Twojej głowie podczas kompletowania wyposażenia domu? Dzielimy się naszym doświadczeniem - korzystaj, kiedy tylko masz na to ochotę</p>
            <a href="/pl/blog.html" class="btn">Pokaż wszystkie</a>
        </div>

        {% for post in site.posts limit: 2  | where:"lang", page.lang %}
          <div class="beam-item b-size-2">
              {% include parts/articles-listing-boxitem.html post=post %}
          </div>
        {% endfor %}
      </section>