---
layout: index
title: Index
description: description
---
<div class="beams-wrapper global-beam-wrapper">
    <aside class="beam b-size-6 index-banners">
        <div class="beam-item b-size-6">
            <section class="main-banner">
                <img src="/assets/img/banner-main.png">
                <div class="content">
                    <h3 class="h-xl">Rozdzielacze CO mosiężne do ogrzewania </h3>
                    <p>Rozdzielacz to element, który w ostatnich latach bardzo często wykorzystywany jest zarówno w budynkach mieszkalnych, jak i przemysłowych. Można zastosować go zarówno w ogrzewaniu grzejnikowym, jak i instalacjach podłogowych.</p>
                    <a href="/pl/produkty/rozdzielacz-co.html" class="btn">Więcej informacji</a>
                </div>
            </section>
        </div>
        <div class="beam-item b-size-2">
            <a href="/pl/produkty/glowica-termostatyczna.html"class="small-banner">
                <div class="banner-img">
                    <img src="/uploads/glowica-test.jpg">
                </div>
                <div class="banner-title">
                    <span>Głowica termostatyczna</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="64.705" height="22.828" viewBox="0 0 64.705 22.828">
                        <g transform="translate(-153.241 -945.586)">
                            <path data-name="Path 18" d="M1043.117,958.531h60.876" transform="translate(-889.876 -1.531)" fill="none" stroke="#efefef" stroke-width="4"/>
                            <path data-name="Path 19" d="M1132.211,946.051l10,10-10,10" transform="translate(-927.093 0.949)" fill="none" stroke="#efefef" stroke-width="4"/>
                        </g>
                    </svg>
                </div>
            </a >
        </div>
        <div class="beam-item b-size-2">
            <a href="/pl/produkty/osadnik-rynnowy.html"class="small-banner">
                <div class="banner-img">
                    <img src="/uploads/osadnik-test.jpg">
                </div>
                <div class="banner-title">
                    <span>Osadnik rynnowy</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="64.705" height="22.828" viewBox="0 0 64.705 22.828">
                        <g transform="translate(-153.241 -945.586)">
                            <path data-name="Path 18" d="M1043.117,958.531h60.876" transform="translate(-889.876 -1.531)" fill="none" stroke="#efefef" stroke-width="4"/>
                            <path data-name="Path 19" d="M1132.211,946.051l10,10-10,10" transform="translate(-927.093 0.949)" fill="none" stroke="#efefef" stroke-width="4"/>
                        </g>
                    </svg>
                </div>
            </a >
        </div>
        <div class="beam-item b-size-2">
            <a href="/pl/produkty/pokrywa-studzienki.html"class="small-banner">
                <div class="banner-img">
                    <img src="/uploads/pokrywa-test.jpg">
                </div>
                <div class="banner-title">
                    <span>Rozdzielacz manualny</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="64.705" height="22.828" viewBox="0 0 64.705 22.828">
                        <g transform="translate(-153.241 -945.586)">
                            <path data-name="Path 18" d="M1043.117,958.531h60.876" transform="translate(-889.876 -1.531)" fill="none" stroke="#efefef" stroke-width="4"/>
                            <path data-name="Path 19" d="M1132.211,946.051l10,10-10,10" transform="translate(-927.093 0.949)" fill="none" stroke="#efefef" stroke-width="4"/>
                        </g>
                    </svg>
                </div>
            </a >
        </div>
    </aside>
    <div class="beam b-size-6 beam-border index-content">
        <div class="beam-item b-size-3">
            <h1 class="h2 first-h">Technika grzewcza, instalacje wodne, artykuły budowlane - poznaj możliwości swojego domu!</h1>
            <p>Wyposażenie Millto to kompleksowa odpowiedź na wszystkie potrzeby budynku i jego mieszkańców. Mamy świadomość, jak ważne jest bezpieczeństwo dlatego oferujemy wyłącznie w 100% sprawdzony asortyment zgodny ze wszystkimi normami. Odkryj prawdziwy komfort życia - poznaj naszą ofertę.</p>
        </div>
        <div class="beam-item b-size-3">
            <h2 class="h2 first-h">Stawiamy na Twoje zadowolenie - jesteś dla nas ważn</h2>
            <p>Naszą misją jest zapewnienie klientom rozwiązań, które są funkcjonalne ale także łatwe w montażu i użytkowaniu. Świadomie wybieramy dla Ciebie wyłącznie te produkty, które będą gwarancją Twojego zadowolenia. Dzięki nam obalisz od lat powtarzany mit, że systemy instalacyjne wcale są skomplikowane.</p>
        </div>
    </div>
    <section class="beam b-size-6 beam-border index-blog">
        <div class="beam-item b-size-2">
            <h2 class="first-h">Strefa wiedzy</h2>
            <p>Interesujesz się tematem techniki grzewczej lub systemów instalacyjnych? A może po prostu poszukujesz odpowiedzi na nurtujące Cię pytania, które pojawiły się w Twojej głowie podczas kompletowania wyposażenia domu? Dzielimy się naszym doświadczeniem - korzystaj, kiedy tylko masz na to ochotę</p>
            <a href="/pl/blog.html" class="btn">Pokaż wszystkie</a>
        </div>

        {% for post in site.posts limit: 2 %}
          <div class="beam-item b-size-2">
              {% include parts/articles-listing-boxitem.html post=post %}
          </div>
        {% endfor %}
      </section>
</div>
