---
layout: about
title: "Millto | Najlepsze Wyposażenie na Rynku"
description: "Planujesz wykonanie instalacji grzewczej lub wodnej w swoim domu? Czeka Cię remont? 🏡 Wybierz najlepsze produkty. ✔️Postaw na jakość i swoje bezpieczeństwo."

---
<div class="page page-about">
    <div class="beams-wrapper global-beam-wrapper">
        <div class="beam">
            <nav class="beam-item">
                <ul class="breadcrumbs">
                    {% for item in site.data.menu %}
                      {% if  item.pagename == "home" %}
                        <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                      {% endif %}
                      {% if  item.pagename == "aboutus" %}
                        <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                      {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <main class="beam b-size-4  about-content">
            <div class="beam-item b-size-3  about-text">
                <h1>Millto – artykuły budowlane, technika grzewcza, instalacje wodne</h1>
                <p>Millto to marka specjalizująca się w produkcji szeroko pojętych artykułów budowlanych, elementów z zakresu techniki grzewczej oraz gospodarki wodno-kanalizacyjnej. Co nas wyróżnia? Przede wszystkim rozbudowane zaplecze techniczne w połączeniu z doświadczeniem branżowym - umożliwiające kompleksowe zaopatrzenie naszych klientów.</p>
                <h2>Nasza misja to Twoje zadowolenie!</h2>
                <p>Cenimy sobie innowacyjność i stały postęp. Dlatego stawiamy na rozwiązania, które powstają w oparciu o nowoczesne technologie i w pełni odpowiadają zapotrzebowaniu rynkowemu. Jesteśmy przekonani, że bezpieczna i w pełni funkcjonalna przestrzeń domowa przekłada się na wyższy komfort Twojego życia.</p>
                <h2>Wizja przyszłości - kreuj ją z nami</h2>
                <p>Nieustannie śledzimy postęp i kierunki rozwoju, co daje nam przewagę konkurencyjną. Nie zatrzymujemy się w miejscu i stale poszukujemy planów na nowe produkty, które zaspokoją wszystkie potrzeby klientów. Nie odtwarzamy utartych schematów. Definiujemy na nowo standardy w swojej branży.</p>
                <h2>Perfekcja i jakość, której nie znajdziesz nigdzie!</h2>
                <p>Proponowane przez nas rozwiązania są nie tylko zgodne z wszelkimi normami i atestami. Wyróżnia je bezpieczeństwo - zarówno dla człowieka, budynku, sieci instalacyjnych, jak i samego środowiska. Wszystkim podejmowanym decyzjom towarzyszy społeczna odpowiedzialność biznesu mająca na celu kształtowanie pozytywnych relacji z kontrahentami oraz etycznych zachowań.</p>
                <p>Stawiamy na długotrwałą wytrzymałość. 100% naszych produktów przechodzi bardzo dokładne testy zanim trafi na rynek. Możesz być pewny, że nie otrzymasz niczego, czego wcześniej sami nie wypróbowaliśmy.</p>
                <h2>Szybki kontakt - zawsze, kiedy tego potrzebujesz</h2>
                <p>Dbamy o kompleksową obsługę klientów. Dlatego możesz skontaktować się z nami w sposób, który najbardzie odpowiada Twoich wymaganiom. Możesz również liczyć na doradztwo techniczne w trakcie całego procesu zakupowego.</p>
            </div>
            <div class="beam-item b-size-1">
                <div class="sticky-element">
                    {% include parts/contact-profile.html %}
                </div>
            </div>
        </main>
    </div>
</div>