---
layout: products
title: Produkty
description: description
---
<div class="page page-products-listing">
  <div class="beams-wrapper global-beam-wrapper">
      <div class="beam">
          <nav class="beam-item">
              <ul class="breadcrumbs">
                <li><a href="/pl">Strona główna</a></li>
                <li><a href="{{ page.url }}">Produkty</a></li>
              </ul>
          </nav>
      </div>
      <main class="beam b-size-4 products-listing-content">
          <div class="beam-item b-size-3 products-listing-text">
              <h1>Produkty</h1>
              <p>Wybór poszczególnych części tworzących instalacje domowe uzależnia się od kilku bardzo ważnych czynników. Dwoma najważniejszymi są: jakość produktów oraz kwestia bezpieczeństwa. Dla przykładu – tworząc instalację ogrzewania podłogowego, należy zwrócić uwagę na dopasowanie odpowiedniego rozdzielacza, który będzie wydajny. Podobnie wygląda kwestia systemów wodnych..</p>

              {% for product_category in site.product_categories %}
                {% include parts/product-category-section.html product_category=product_category %}
              {% endfor %}
          </div>
          <div class="beam-item b-size-1">
              <div class="sticky-element">
                  {% include parts/contact-profile.html %}
              </div>
          </div>
      </main>
  </div>
</div>
