---
layout: products
title: "Millto | Prodotti"
description: "La scelta dei componenti per gli impianti di un edificio dipende da vari fattori. I più importanti sono: la qualità dei prodotti e la loro sicurezza"
---
<div class="page page-products-listing">
  <div class="beams-wrapper global-beam-wrapper">
      <div class="beam">
          <nav class="beam-item">
              <ul class="breadcrumbs">
                {% for item in site.data.menu-pages %}
                  {% if  item.pagename == "home" %}
                    <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                  {% endif %}
                  {% if  item.pagename == "products" %}
                    <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                  {% endif %}
                {% endfor %}
              </ul>
          </nav>
      </div>
      <main class="beam b-size-4 products-listing-content">
          <div class="beam-item b-size-3 products-listing-text">
              <h1>Prodotti</h1>
              <p>La decisione quali elementi sono adatti per un sistema di costruzione dipende da diversi fattori importanti. I due più importanti sono: la qualità dei prodotti e il loro livello di sicurezza. Per esempio - se si vuole creare un sistema di riscaldamento a pavimento, si dovrebbe prestare attenzione al collettore - dovrebbe essere il più efficiente possibile. E' abbastanza simile ai sistemi ad acqua.</p>

              
            {% assign product_category_lang = site.product_categories | where: "lang", page.lang %}

              {% for product_category in product_category_lang %}
                {% include parts/product-category-section.html product_category=product_category %}
              {% endfor %}
          </div>
          <div class="beam-item b-size-1">
              <div class="sticky-element">
                  {% include parts/contact-profile.html %}
              </div>
          </div>
      </main>
  </div>
</div>
