<footer class="beams-wrapper global-beam-wrapper page-footer">
    <div class="beam">
        <div class="beam-item">
            <div class="copy">
                <p>© 2020 Millto. All rights reserved.</p>
                <a href="/pl/polityka-prywatnosci.html">Polityka prywatności</a>
                <a href="/">Start</a>
            </div>
            <nav class="language">
                <span>Wybierz kraj</span>
                <a href="/pl" class="btn btn-sm btn-white"><img src="/assets/img/flag-poland.svg" >Polska</a>
                <!-- <a href="/us" class="btn btn-sm btn-white"><img src="/assets/img/flag-usa.svg" >United States</a> -->
            </nav>
        </div>
    </div>
</footer>

<script type="text/javascript" src="/assets/js/stickybits.js"></script>
<script type="text/javascript">
    stickybits('.sticky-element', { stickyBitStickyOffset: 110 });
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137223789-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-137223789-2');
</script>
