<header class="page-header-wrapper">
    <div id="topLine" class="beams-wrapper global-beam-wrapper page-header">
        <div class="beam">
            <div class="beam-item">
                <div class="logo">
                    <a href="index.html" class="graphic">
                        <img src="/assets/img/logo.svg">
                    </a>
                    <p class="slogan">Heating & water systems</p>
                </div>
                <nav class="menu">
                    <ul class="navigation">
                        {% if include.active == "products" %}
                          <li class="active">
                        {% else %}
                          <li>
                        {% endif %}
                            <a href="/pl/produkty.html">Produkty</a>
                        </li>

                        {% if include.active == "about" %}
                          <li class="active">
                        {% else %}
                          <li>
                        {% endif %}
                            <a href="/pl/o-nas.html">O nas</a>
                        </li>
                        
                        {% if include.active == "contact" %}
                          <li class="active">
                        {% else %}
                          <li>
                        {% endif %}
                            <a href="/pl/kontakt.html">Kontakt</a>
                        </li>

                        {% if include.active == "blog" %}
                          <li class="active">
                        {% else %}
                          <li>
                        {% endif %}
                            <a href="/pl/blog.html">Blog</a>
                        </li>
                    </ul>
                <ul class="language">
                    <li class="active">
                        <a href="/pl">
                            <img src="/assets/img/flag-poland.svg" >
                            <span>Polska</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="">
                            <img src="/assets/img/flag-usa.svg" >
                            <span>United States</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/assets/img/flag-germany.svg" >
                            <span>Deutschland</span>
                        </a>
                    </li> -->
                </ul>
                </nav>
                <button id="menuMobileBtn" class="menu-mobile-btn">
                        <img src="/assets/img/icon-burger.svg" class="burger" >
                        <img src="/assets/img/icon-close.svg" class="close" >
                </button>
            </div>
        </div>
    </div>
    <nav id="menuMobileCtn" class="menu-mobile">
        <ul class="navigation">
            <li class="active">
                <a href="/pl/produkty.html">Produkty</a>
            </li>
            <li>
                <a href="/pl/o-nas.html">O nas</a>
            </li>
            <li>
                <a href="/pl/kontakt.html">Kontakt</a>
            </li>
            <li>
                <a href="/pl/blog.html">Blog</a>
            </li>
        </ul>
    </nav>
</header>
