<header class="page-header-wrapper">
    <div id="topLine" class="beams-wrapper global-beam-wrapper page-header">
        <div class="beam">
            <div class="beam-item">
                <div class="logo">
                    <a href="/{{ page.lang }}/" class="graphic">
                        <img src="/assets/img/logo.svg" alt="Millto logo">
                    </a>
                    <p class="slogan">Heating & water systems</p>
                </div>
                <nav class="menu">

                    <ul class="navigation">
                        {% for item in site.data.menu-pages %}
                        <li>              
                            <a href="{{item.[page.lang].link}}">{{item.[page.lang].name}}</a>      
                        </li>
                        {% endfor %}
                    </ul>
                <ul class="language">                    
                    {% for item in site.data.menu-languages %}
                    {% if page.lang == item.lang %}
                    <li class="active">
                     {% else %}
                    <li>
                    {% endif %}
                        <a href="{{item.path}}">
                            <img src="{{item.icon}}" alt="{{item.flag}}">
                            <span>{{item.name}}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                </nav>
                <button id="menuMobileBtn" class="menu-mobile-btn">
                        <img src="/assets/img/icon-burger.svg" class="burger" alt="Otwarcie menu" >
                        <img src="/assets/img/icon-close.svg" class="close" alt="Zamknięcie menu">
                </button>
            </div>
        </div>
    </div>
    <nav id="menuMobileCtn" class="menu-mobile">
        <ul class="navigation">
            {% for item in site.data.menu-pages %}
            {% if include.active == "products" %}
              <li class="active">
            {% else %}
              <li>
            {% endif %}                        
                <a href="{{item.[page.lang].link}}">{{item.[page.lang].name}}</a>      
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>
