---
---

@import "variables.scss";

.page-contact {
    .contact-content {
        .contact-text {
            @media (max-width:1050px) {
                flex-basis: 100%;
            }
            >*:first-child {
                margin-top:0px;
            }
            .contact-beam {
                display: flex;
                flex-flow: row;
                justify-content: space-around;
                padding: 20px;
                @media (max-width:700px) {
                    flex-flow: column;
                }
                a {
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    text-decoration: none;
                    @media (max-width:700px) {
                       margin-bottom: 40px;
                       &:last-child {

                       margin-bottom: 0px;
                       }
                    }
                    img {
                        margin-right: 20px;
                        width: 30px;
                    }
                    .content {
                        display: flex;
                        flex-direction: column;
                        font-family: 'Oswald', sans-serif;
                        text-transform: uppercase;
                        letter-spacing: 0px;
                        font-size: 16px;
                        line-height: 19px;
                        span {
                            font-family: 'Roboto', sans-serif;
                            font-weight: normal;
                            letter-spacing: -0.5px;
                            font-size: 13px;
                            color:$gray-4;
                            line-height: 15px;
                            text-transform: initial;

                        }
                    }
                    &:hover {

                        .content {
                            color: lighten($main, 10%)
                        }
                    }
                }
            }
        }
    }
}

@import "components/contact-profile.scss";
