---
---

@import "variables.scss";

.page-start{
    padding-top: 0px;
    .start-intro {
        height: 100vh;
        min-height: 560;
        background-image: url("/assets/img/map.svg");
        background-repeat: no-repeat;
        background-position: center right;
        justify-content: flex-start;
        @media (max-width: 800px) {
            height: auto;
            margin-top: 30px;
            background-position: center center;
        }
        >.beam-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .logo {
                height: 50px;
                margin-bottom: 10px;;
            }
            .slogan {
                font-family: 'Oswald', sans-serif;
                letter-spacing: 0px;
                color:$gray-4;
                font-size: 13px;
                margin-bottom: 0px;
            }
            .title {
                margin-top: 30px;
                margin-bottom: 20px;
                max-width: 660px;
                @media (max-width: 450px) {
                    font-size: 26px;
                    line-height: 42px;
                }
            }
            .intro {
                margin-bottom: 40px;
                max-width: 660px;
            }
            .language {
                max-width: 860px;
                span {
                    display: block;
                    color: $gray-4;
                    margin-bottom: 10px;
                }
                a {
                    margin: 0 10px 10px 0;
                }
            }
        }
    }
    .start-content {
        .beam-item {
            @media (max-width: 850px) {
                flex-basis: 100%;
            }
        }
    }
}
