---
layout: products
title: "Millto | Productos"
description: "La elección de las piezas para los sistemas de un edificio depende de varios factores. Los más importantes son: la calidad de los productos y su seguridad."
---
<div class="page page-products-listing">
  <div class="beams-wrapper global-beam-wrapper">
      <div class="beam">
          <nav class="beam-item">
              <ul class="breadcrumbs">
                {% for item in site.data.menu-pages %}
                  {% if  item.pagename == "home" %}
                    <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                  {% endif %}
                  {% if  item.pagename == "products" %}
                    <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                  {% endif %}
                {% endfor %}
              </ul>
          </nav>
      </div>
      <main class="beam b-size-4 products-listing-content">
          <div class="beam-item b-size-3 products-listing-text">
              <h1>Productos</h1>
              <p>La decisión de qué elementos son adecuados para un sistema de construcción depende de varios factores importantes. Los dos más importantes son: la calidad de los productos y sus niveles de seguridad. Por ejemplo, si se quiere crear un sistema de calefacción de suelo, se debe prestar atención al colector, que debe ser lo más eficiente posible. Es bastante similar con los sistemas de agua.</p>

              
            {% assign product_category_lang = site.product_categories | where: "lang", page.lang %}

              {% for product_category in product_category_lang %}
                {% include parts/product-category-section.html product_category=product_category %}
              {% endfor %}
          </div>
          <div class="beam-item b-size-1">
              <div class="sticky-element">
                  {% include parts/contact-profile.html %}
              </div>
          </div>
      </main>
  </div>
</div>
