---
layout: contact
title: "Millto | Kontakt a zákaznícky servis"
description: "Zaujímate sa o našu ponuku? Máte nejaké otázky?  👈 Kontaktujte našich zamestnancov 👨‍🔧 Sľubujeme, že vám pomôže čo najskôr."
---
<div class="page page-contact">
    <div class="beams-wrapper global-beam-wrapper">
        <div class="beam">
            <nav class="beam-item">
                <ul class="breadcrumbs">
                    {% for item in site.data.menu-pages %}
                      {% if  item.pagename == "home" %}
                        <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                      {% endif %}
                      {% if  item.pagename == "contact" %}
                        <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                      {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <main class="beam b-size-5 contact-content">
            <div class="beam-item b-size-3 contact-text">
                <h1>Kontakt</h1>
                <p>Ak máte akékoľvek otázky týkajúce sa našej ponuky, alebo produktov – môžete sa obrátiť na našich zamestnancov, ktorí vám s radosťou pomôže a poskytne vám všetky potrebné informácie.</p>
                <p><b>Vy, zákazník má pre nás najväčší význam</b> - ponúkame vám tri rôzne kontaktné kanály. Vyberte si ten, ktorý vám najviac vyhovuje!</p>
                <div class="contact-beam">
                    <a href="tel:+48537723242" class="phone">
                        <img src="/assets/img/icon-phone.svg" alt="{{site.data.translations.phoneicon[page.lang]}}">
                        <div class="content">
                            {{site.data.translations.callnow[page.lang]}}
                            <span>+48 537 723 242</span>
                        </div>
                    </a>
                    <a href="mailto:pawelkowalczyk@millto.pl" class="mail">
                        <img src="/assets/img/icon-mail.svg" alt="{{site.data.translations.emailicon[page.lang]}}">
                        <div class="content">
                            {{site.data.translations.sendemail[page.lang]}}
                            <span>pawelkowalczyk@millto.pl</span>
                        </div>
                    </a>
                    <!-- <a href="mailto:k.ignacyk@millto.com" class="mail">
                        <img src="/assets/img/icon-chat.svg" alt="{{site.data.translations.chaticon[page.lang]}}">
                        <div class="content">
                            {{site.data.translations.startchat[page.lang]}}
                            <span>online</span>
                        </div>
                    </a> -->
                </div>
            </div>
            <div class="beam-item b-size-2">
                <div class="sticky-element">
                    {% include parts/contact-profile.html %}
                </div>
            </div>
        </main>
    </div>
</div>

