---
layout: products
title: "Millto | Výrobky"
description: "Výber dielov pre systémy budovy závisí od rôznych faktorov. Najdôležitejšie sú: kvalita výrobkov a ich bezpečnosť"
---
<div class="page page-products-listing">
  <div class="beams-wrapper global-beam-wrapper">
      <div class="beam">
          <nav class="beam-item">
              <ul class="breadcrumbs">
                {% for item in site.data.menu-pages %}
                  {% if  item.pagename == "home" %}
                    <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                  {% endif %}
                  {% if  item.pagename == "products" %}
                    <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                  {% endif %}
                {% endfor %}
              </ul>
          </nav>
      </div>
      <main class="beam b-size-4 products-listing-content">
          <div class="beam-item b-size-3 products-listing-text">
              <h1>Výrobky</h1>
              <p>Rozhodnutie, ktoré prvky sú vhodné pre stavebný systém, závisí od niekoľkých dôležitých faktorov. Dve najdôležitejšie sú: kvalita výrobkov a ich úroveň bezpečnosti. Napríklad - ak chcete vytvoriť systém podlahového vykurovania, mali by ste venovať pozornosť rozdeľovaču-malo by to byť čo najefektívnejšie. Je to veľmi podobné vodným systémom.</p>

              
            {% assign product_category_lang = site.product_categories | where: "lang", page.lang %}

              {% for product_category in product_category_lang %}
                {% include parts/product-category-section.html product_category=product_category %}
              {% endfor %}
          </div>
          <div class="beam-item b-size-1">
              <div class="sticky-element">
                  {% include parts/contact-profile.html %}
              </div>
          </div>
      </main>
  </div>
</div>
