---
layout: blog
title: "Millto | Conseils d'installation spécialisés"
description: "Vous cherchez des conseils spécialisés sur les systèmes d'installation des bâtiments ? C'est bien que vous soyez tombé sur le blog de Millto."
---

<div class="page page-articles-listing">
    <div class="beams-wrapper global-beam-wrapper">
        <div class="beam">
            <nav class="beam-item">
                <ul class="breadcrumbs">
                    {% for item in site.data.menu-pages %}
                      {% if  item.pagename == "home" %}
                        <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                      {% endif %}
                      {% if  item.pagename == "blog" %}
                        <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                      {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <main class="beam b-size-4  articles-listing-content">
            <div class="beam-item b-size-4  articles-listing-text">
                <h1>Blog</h1>
                <p>Vous cherchez des conseils spécialisés sur les systèmes d'installation des bâtiments ? C'est formidable que vous soyez tombé sur le blog de Millto. Vous y trouverez les réponses aux questions qui vous intriguent.</p>
            </div>
            {% assign posts=site.posts | where:"lang", page.lang %}
            {% for post in posts %}
              <div class="beam-item b-size-1">
                  {% include parts/articles-listing-boxitem.html post=post %}
              </div>
            {% endfor %}
        </main>
    </div>
</div>
