---
layout: contact
title: "Millto | Contact et service à la clientèle"
description: "Notre offre vous intéresse ? Vous avez des questions ?  👈 Contactez nos collaborateurs 👨🔧 Nous nous engageons à vous aider dans les plus brefs délais."
---
<div class="page page-contact">
    <div class="beams-wrapper global-beam-wrapper">
        <div class="beam">
            <nav class="beam-item">
                <ul class="breadcrumbs">
                    {% for item in site.data.menu-pages %}
                      {% if  item.pagename == "home" %}
                        <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                      {% endif %}
                      {% if  item.pagename == "contact" %}
                        <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                      {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <main class="beam b-size-5 contact-content">
            <div class="beam-item b-size-3 contact-text">
                <h1>Contact</h1>
                <p>Si vous avez des questions concernant notre offre ou les produits - vous pouvez contacter nos employés, qui se feront un plaisir de vous aider et de vous fournir toutes les informations nécessaires.</p>
                <p><b>Vous, le client, êtes de la plus haute importance pour nous</b> - nous vous offrons trois canaux de contact différents. Choisissez celui qui vous convient le mieux !</p>
                <div class="contact-beam">
                    <a href="tel:+48537723242" class="phone">
                        <img src="/assets/img/icon-phone.svg" alt="{{site.data.translations.phoneicon[page.lang]}}">
                        <div class="content">
                            {{site.data.translations.callnow[page.lang]}}
                            <span>+48 537 723 242</span>
                        </div>
                    </a>
                    <a href="mailto:biuro@millto.pl" class="mail">
                        <img src="/assets/img/icon-mail.svg" alt="{{site.data.translations.emailicon[page.lang]}}">
                        <div class="content">
                            {{site.data.translations.sendemail[page.lang]}}
                            <span>biuro@millto.pl</span>
                        </div>
                    </a>
                    <!-- <a href="mailto:k.ignacyk@millto.com" class="mail">
                        <img src="/assets/img/icon-chat.svg" alt="{{site.data.translations.chaticon[page.lang]}}">
                        <div class="content">
                            {{site.data.translations.startchat[page.lang]}}
                            <span>online</span>
                        </div>
                    </a> -->
                </div>
            </div>
            <div class="beam-item b-size-2">
                <div class="sticky-element">
                    {% include parts/contact-profile.html %}
                </div>
            </div>
        </main>
    </div>
</div>


