---
layout: products
title: "Millto | Produits"
description: "Le choix des pièces pour les systèmes d'un bâtiment dépend de divers facteurs. Les plus importants sont : la qualité des produits et leur sécurité."
---
<div class="page page-products-listing">
  <div class="beams-wrapper global-beam-wrapper">
      <div class="beam">
          <nav class="beam-item">
              <ul class="breadcrumbs">
                {% for item in site.data.menu-pages %}
                  {% if  item.pagename == "home" %}
                    <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                  {% endif %}
                  {% if  item.pagename == "products" %}
                    <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                  {% endif %}
                {% endfor %}
              </ul>
          </nav>
      </div>
      <main class="beam b-size-4 products-listing-content">
          <div class="beam-item b-size-3 products-listing-text">
              <h1>Produits</h1>
              <p>Le choix des éléments qui conviennent à un système de construction dépend de plusieurs facteurs importants. Les deux plus importants sont : la qualité des produits et leur niveau de sécurité. Par exemple, si vous voulez créer un système de chauffage par le sol, vous devez prêter attention au collecteur - il doit être aussi efficace que possible. C'est assez similaire pour les systèmes à eau.</p>

              
            {% assign product_category_lang = site.product_categories | where: "lang", page.lang %}

              {% for product_category in product_category_lang %}
                {% include parts/product-category-section.html product_category=product_category %}
              {% endfor %}
          </div>
          <div class="beam-item b-size-1">
              <div class="sticky-element">
                  {% include parts/contact-profile.html %}
              </div>
          </div>
      </main>
  </div>
</div>
