<footer class="contact-profile">
    <img alt="Filip Krawiec Millto " class="profil-img" src="/uploads/pawelkowalczyk.jpg">
    <div class="profil-name">
        <p class="name">Paweł Kowalczyk</p>
        <p class="position">Sales Specialists</p>
    </div>
     <div class="profil-contact">
        <a href="tel:+48696587368" class="phone"><img src="/assets/img/icon-phone.svg" alt="{{site.data.translations.phoneicon[page.lang]}}">+48 696 587 368</a>
        <a href="mailto:pawelkowalczyk@millto.pl" class="mail"><img src="/assets/img/icon-mail.svg" alt="{{site.data.translations.emailicon[page.lang]}}" >pawelkowalczyk@millto.pl</a>
        <!-- <a href="javascript:void(0)" class="btn btn-sm" onclick='document.getElementsByClassName("chatlio-title-bar")[0].click();'> {{site.data.translations.startchat[page.lang]}}</a> -->
    </div>
    <div class="profile-contact-mobile">
        <button id="contactMobileBtn" class="contact-mobile-btn">
            <img src="/assets/img/icon-contact.svg" alt="{{site.data.translations.contacticon[page.lang]}}" >
            {{site.data.translations.contact[page.lang]}}
        </button>
        <div id="contactMobileCtn"  class="contact-mobile-ctn">
            <a href="tel:+48696587368" class="phone">
                <img src="/assets/img/icon-phone.svg"alt="{{site.data.translations.phoneicon[page.lang]}}" >
                <div class="content">
                    {{site.data.translations.callnow[page.lang]}}
                <span>+48 696 587 368</span>
                </div>
            </a>
            <a href="mailto:pawelkowalczyk@millto.pl" class="mail">
                <img src="/assets/img/icon-mail.svg" alt="{{site.data.translations.emailicon[page.lang]}}">
                <div class="content">
                    {{site.data.translations.sendemail[page.lang]}}
                <span>pawelkowalczyk@millto.pl</span>
                </div>
            </a>
            <!-- <a href="javascript:void(0)" class="mail" onclick='document.getElementsByClassName("chatlio-title-bar")[0].click();'>
                <img src="/assets/img/icon-chat.svg" alt="{{site.data.translations.chaticon[page.lang]}}">
                <div class="content">
                    {{site.data.translations.startchat[page.lang]}}
                <span>online</span>
                </div>
            </a> -->
        </div>
    </div>
</footer>

