<footer class="contact-profile">
    <img alt="Konrad Ignacyk - zdjęcie" class="profil-img" src="/uploads/konrad.jpg" >
    <div class="profil-name">
        <p class="name">Konrad Ignacyk</p>
        <p class="position">Logistic Manager</p>
    </div>
     <div class="profil-contact">
        <a href="tel:+48 875 687 867" class="phone"><img src="/assets/img/icon-phone.svg" alt="Ikona telefonu">+48 875 687 867</a>
        <a href="mailto:k.ignacyk@millto.com" class="mail"><img src="/assets/img/icon-mail.svg" alt="Ikona adresu e-mail" >k.ignacyk@millto.com</a>
        <a href="javascript:void(0)" class="btn btn-sm" onclick='document.getElementsByClassName("chatlio-title-bar")[0].click();'>Rozpocznij chat</a>
    </div>
    <div class="profile-contact-mobile">
        <button id="contactMobileBtn" class="contact-mobile-btn">
            <img src="/assets/img/icon-contact.svg" alt="Ikona kontaktu" >
            Kontakt
        </button>
        <div id="contactMobileCtn"  class="contact-mobile-ctn">
            <a href="tel:+48882505980" class="phone">
                <img src="/assets/img/icon-phone.svg"alt="Ikona telefonu" >
                <div class="content">
                Zadzwoń teraz
                <span>+48 882 505 980</span>
                </div>
            </a>
            <a href="mailto:k.ignacyk@millto.com" class="mail">
                <img src="/assets/img/icon-mail.svg" alt="Ikona adresu e-mail">
                <div class="content">
                Napisz maila
                <span>k.ignacyk@millto.com</span>
                </div>
            </a>
            <a href="mailto:k.ignacyk@millto.com" class="mail">
                <img src="/assets/img/icon-chat.svg" alt="ikona rozmowyu online">
                <div class="content">
                Rozpocznij chat
                <span>online</span>
                </div>
            </a>
        </div>
    </div>
</footer>
