<a href="{{ include.product.url }}" class="products-listing-listitem">
    <div class="product-img">
        <img class="lazy" height="160" width="160" data-src="{{ include.product.photo }}" src="/assets/img/pixel.jpg" alt="{{ include.product.name }}">
    </div>
    <div class="product-content">
        <h3 class="h4">{{ include.product.name }}</h3>
        <p>{{ include.product.intro }}</p>
    </div>
    <div class="product-arrow" >
        <svg xmlns="http://www.w3.org/2000/svg" width="26.828" height="22.828" viewBox="0 0 26.828 22.828">
        <path data-name="Path 18" d="M1043.118,958.531h23" transform="translate(-1043.118 -947.117)" fill="none" stroke="#efefef" stroke-width="4"/>
        <path data-name="Path 19" d="M1132.211,946.051l10,10-10,10" transform="translate(-1118.211 -944.637)" fill="none" stroke="#efefef" stroke-width="4"/>
        </svg>
    </div>
</a>
