<!DOCTYPE html>
<html lang="{{ page.full-lang | default: site.lang | default: 'en' }}">
<head>
  {% include head.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pages/article.css?v=1">
</head>

<body>
  {% include header.html %}

  <div class="page-wrapper">
    {% include topline.html %}

    <main class="page page-article">
        <div class="beams-wrapper global-beam-wrapper">
            <div class="beam">
                <nav class="beam-item">
                    <ul class=" breadcrumbs">
                        <li><a href="index.html">Strona główna</a></li>
                        <li><a href="">Produkty</a></li>
                    </ul>
                </nav>
            </div>
            <div class="beam b-size-4  article-content">
                <div class="beam-item b-size-3 article-text">
                    <header class="article-header">
                        <h1>{{ page.title }}</h1>
                        <p>{{ page.intro | markdownify }}</p>
                        <figure class="content-image">
                            <img alt="{{ page.title }}" title="{{ page.title }}" src="/assets/img/article-image.jpg">
                            <figcaption>{{ page.title }}</figcaption>
                        </figure>
                    </header>
                    <nav class="table-of-content">
                        <span class="title">Spis treści</span>
                        {{ content | toc_only }}
                    </nav>

                    {{ content | inject_anchors }}

                    <nav>
                        <h3 class="beam-border">Polecane produkty</h3>
                        {% include parts/products-listing-listitem.html productTitle="Kanalizacja – jak zaprojektować i wykonać instalację? " productIntro="Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle." productImg="banner-main.png"%}
                        {% include parts/products-listing-listitem.html productTitle="Kanalizacja – jak zaprojektować i wykonać instalację? " productIntro="Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle." productImg="banner-main.png"%}
                    </nav>
                </div>
                <div class="beam-item b-size-1">
                    <div class="sticky-element">
                  <a href="product.html" class="article-featured-product">
                        <img src="/assets/img/banner-main.png">
                        <h3>System Poziomowania</h3>
                        <p>Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.</p>
                    </a>
                    </div>
                </div>
            </div>
            <div class="beam b-size-4 article-blog">
                <div class="beam-item b-size-6">
                    <h3 class=" beam-border">Polecane artykuły</h3>
                </div>
                <div class="beam-item b-size-1">
                    {% include parts/articles-listing-boxitem.html articleTitle="Kanalizacja – jak zaprojektować i wykonać instalację? " articleIntro="Każde gospodarstwo domowe generuje ścieki, które należy w jakiś sposób odprowadzić. " articleImg="article-image.jpg"%}
                </div>
                <div class="beam-item b-size-1">
                    {% include parts/articles-listing-boxitem.html articleTitle="Kanalizacja – jak zaprojektować i wykonać instalację? " articleIntro="Każde gospodarstwo domowe generuje ścieki, które należy w jakiś sposób odprowadzić. " articleImg="article-image.jpg"%}
                </div>
                <div class="beam-item b-size-1">
                    {% include parts/articles-listing-boxitem.html articleTitle="Kanalizacja – jak zaprojektować i wykonać instalację? " articleIntro="Każde gospodarstwo domowe generuje ścieki, które należy w jakiś sposób odprowadzić. " articleImg="article-image.jpg"%}
                </div>
                <div class="beam-item b-size-1">
                    {% include parts/articles-listing-boxitem.html articleTitle="Kanalizacja – jak zaprojektować i wykonać instalację? " articleIntro="Każde gospodarstwo domowe generuje ścieki, które należy w jakiś sposób odprowadzić. " articleImg="article-image.jpg"%}
                </div>
            </div>
        </div>
    </main>


    <!-- page_footer -->
  </div>

  {% include footer.html %}
</body>
</html>
