{% assign related_products = site.products | where: "path", page.related_products %}

<!DOCTYPE html>
<html lang="{{ page.full-lang | default: site.lang | default: 'en' }}">
<head>
  {% include head.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pages/article.css?v=1">
</head>

<body>
  {% include header.html %}

  <div class="page-wrapper">
    {% include topline.html active="blog" %}

    <main class="page page-article">
        <div class="beams-wrapper global-beam-wrapper">
            <div class="beam">
                <nav class="beam-item">
                    <ul class=" breadcrumbs">
                        <li><a href="/pl">Strona główna</a></li>
                        <li><a href="/pl/blog.html">Blog</a></li>
                        <li><a href="{{ page.url }}">{{page.title}}</a></li>
                    </ul>
                </nav>
            </div>
            <div class="beam b-size-4  article-content">
                <div class="beam-item b-size-3 article-text">
                    <header class="article-header">
                        <h1>{{ page.title }}</h1>
                        <p>{{ page.intro | markdownify }}</p>
                        <figure class="content-image">
                            <img alt="{{ page.title }}" title="{{ page.title }}" src="/assets/img/article-image.jpg">
                            <figcaption>{{ page.title }}</figcaption>
                        </figure>
                    </header>
                    <nav class="table-of-content">
                        <span class="title">Spis treści</span>
                        {{ content | toc_only }}
                    </nav>

                    {{ content | inject_anchors }}

                    <nav>
                        <h3 class="beam-border">Polecane produkty</h3>
                        {% for related_product in related_products %}
                          {% include parts/products-listing-listitem.html product=related_product%}
                        {% endfor %}
                    </nav>
                </div>
                <div class="beam-item b-size-1">
                    <div class="sticky-element">
                    <a href="{{ related_products[0]["url"]}}" class="article-featured-product">
                        <img src="{{ related_products[0]["photo"]}}">
                        <h3>{{ related_products[0]["name"] }}</h3>
                        <p>{{ related_products[0]["intro"] | truncate: 100 }}</p>
                    </a>
                    </div>
                </div>
            </div>
            <div class="beam b-size-4 article-blog">
                <div class="beam-item b-size-6">
                    <h3 class="beam-border">Polecane artykuły</h3>
                </div>
                {% assign i = 0 %}
                {% assign promoted_posts = site.posts | where: 'promoted', true %}

                {% for promoted_post in promoted_posts limit: 5 %}
                  {% if i == 4 %}
                    {% break %}
                  {% endif %}

                  {% if promoted_post.path == page.path %}
                    {% continue %}
                  {% endif %}

                  <div class="beam-item b-size-1">
                      {% include parts/articles-listing-boxitem.html post=promoted_post %}
                  </div>

                  {% assign i = i | plus: 1 %}
                {% endfor %}
            </div>
        </div>
    </main>


    <!-- page_footer -->
  </div>

  {% include footer.html %}
</body>
</html>
