{% assign related_products = "" | split: ',' %}
{% assign related_product_paths = page.related_products %}
{% for related_product_path in related_product_paths %}
  {% assign corrected_related_product_path = related_product_path | remove: "collections/" %}

  {% assign related_product = site.products | where: "path", corrected_related_product_path %}
  {% assign related_products = related_products | push: related_product[0] %}
{% endfor %}

<!DOCTYPE html>
<html lang="{{ page.full-lang | default: site.lang | default: 'en' }}">
<head>
  {% include head.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pages/article.css?v=1">
</head>

<body>

  <div class="page-wrapper">
    {% include topline.html active="blog" %}

    <main class="page page-article">
        <div class="beams-wrapper global-beam-wrapper">
            <div class="beam">
                <nav class="beam-item">
                    <ul class="breadcrumbs">
                        {% for item in site.data.menu-pages %}
                          {% if  item.pagename == "home" %}
                            <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                          {% endif %}
                          {% if  item.pagename == "blog" %}
                            <li><a href="{{item[page.lang].link}}">{{item[page.lang].name}}</a></li>                        
                          {% endif %}
                        {% endfor %}
                        <li><a href="{{ page.url }}">{{page.h1}}</a></li>
                    </ul>
                </nav>
            </div>

            <div class="beam b-size-4  article-content">
                <div class="beam-item b-size-3 article-text">
                    <header class="article-header">
                        <h1>{{ page.h1 }}</h1>
                        <p>{{ page.intro | markdownify }}</p>
                        <figure class="content-image">
                            <img alt="{{ page.h1 }}" title="{{ page.h1 }}" src="{{ page.image }}" src="/assets/img/pixel.jpg">
                            <figcaption>{{ page.h1 }}</figcaption>
                        </figure>
                    </header>
                    <nav class="table-of-content">
                        <span class="title">Spis treści</span>
                        {{ content | toc_only }}
                    </nav>

                    {{ content | inject_anchors }}

                    <nav>
                        <h3 class="beam-border">{{site.data.translations.featuredproducts[page.lang]}}</h3>
                        {% for related_product in related_products %}
                          {% include parts/products-listing-listitem.html product=related_product%}
                        {% endfor %}
                    </nav>
                </div>
                <div class="beam-item b-size-1">
                    <div class="sticky-element">
                    <a href="{{ related_products[0]["url"]}}" class="article-featured-product">
                        <img src="{{ related_products[0]['photo']}}" alt="{{ related_products[0]["name"] }}">
                        <h3>{{ related_products[0]["name"] }}</h3>
                        <p>{{ related_products[0]["intro"] | truncate: 100 }}</p>
                    </a>
                    </div>
                </div>
            </div>
            <div class="beam b-size-4 article-blog">
                <div class="beam-item b-size-6">
                    <h3 class="beam-border">{{site.data.translations.featuredarticles[page.lang]}}</h3>
                </div>
                {% assign i = 0 %}
                {% assign promoted_posts = site.posts | where: 'promoted', true %}

                {% for promoted_post in promoted_posts limit: 5 %}
                  {% if i == 4 %}
                    {% break %}
                  {% endif %}

                  {% if promoted_post.path == page.path %}
                    {% continue %}
                  {% endif %}

                  <div class="beam-item b-size-1">
                      {% include parts/articles-listing-boxitem.html post=promoted_post %}
                  </div>

                  {% assign i = i | plus: 1 %}
                {% endfor %}
            </div>
        </div>
    </main>


    <!-- page_footer -->
  </div>

  {% include footer.html %}
</body>
</html>
