<!DOCTYPE html>
<html lang="{{ page.full-lang | default: site.lang | default: 'en' }}">
<head>
  {% include head.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pages/product.css?v=1">
</head>

<body>
  {% include header.html %}

  <div class="page-wrapper">
    {% include topline.html %}

    <main class="page page-product">
        <div class="beams-wrapper global-beam-wrapper">
            <header class="beam b-size-4 product-intro">
                <div class="beam-item  b-size-2 photo">
                    <img src="/assets/img/banner-main.png" >
                </div>
                <div class="beam-item  b-size-2 content">
                    <div class="rating">
                        <p>Ocena: 4.67</p>
                        <svg class="star-5" xmlns="http://www.w3.org/2000/svg" width="105" height="16" viewBox="0 0 105 16">
                            <path d="M8.5,0l2.55,5.371,5.95.74-4.374,4.06L13.753,16,8.5,13.138,3.247,16l1.127-5.829L0,6.111l5.95-.74Z"/>
                            <path d="M8.5,0l2.55,5.371,5.95.74-4.374,4.06L13.753,16,8.5,13.138,3.247,16l1.127-5.829L0,6.111l5.95-.74Z" transform="translate(22)"/>
                            <path d="M8.5,0l2.55,5.371,5.95.74-4.374,4.06L13.753,16,8.5,13.138,3.247,16l1.127-5.829L0,6.111l5.95-.74Z" transform="translate(44)"/>
                            <path d="M8.5,0l2.55,5.371,5.95.74-4.374,4.06L13.753,16,8.5,13.138,3.247,16l1.127-5.829L0,6.111l5.95-.74Z" transform="translate(66)"/>
                            <path d="M8.5,0l2.55,5.371,5.95.74-4.374,4.06L13.753,16,8.5,13.138,3.247,16l1.127-5.829L0,6.111l5.95-.74Z" transform="translate(88)"/>
                        </svg>
                    </div>
                    <div class="title">
                        <h1>Rozdzielacz CO do ogrzewania podłogowego</h1>
                    </div>
                    <div class="date">
                        Data publikacji: <time datetime="2020-02-14T00:00:00+01:00">14-02-2020</time>
                    </div>
                    <ul class="specyfication">
                        <li>Aktualna dostępność: <b>Duża</b></li>
                        <li>Seria katalogowa: <b>R-ML-1</b></li>
                        <li>Rozstaw między belkami: <b>177 mm</b></li>
                        <li>Szerokość belki: <b>40mm</b></li>
                    </ul>
                    <div class="action">
                        <a href="" class="btn btn-sm btn-white"><img src="/assets/img/360.svg" >Podgląd 360°</a>
                        <a href="" class="btn btn-sm"><img src="/assets/img/more-info.svg" >więcej informacji</a>
                    </div>
                </div>
            </header>
            <div class="beam">
                <nav class="beam-item">
                    <ul class=" breadcrumbs">
                        <li><a href="index.html">Strona główna</a></li>
                        <li><a href="">Produkty</a></li>
                    </ul>
                </nav>
            </div>
            <div class="beam b-size-4  product-content">
                <div class="beam-item b-size-3 product-text">
                  {{ content }}

                  <nav>
                      <h4 class="h2  beam-border">Pozostałe produkty</h3>
                      {% include parts/products-listing-listitem.html productTitle="Kanalizacja – jak zaprojektować i wykonać instalację? " productIntro="Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle." productImg="banner-main.png" %}
                      {% include parts/products-listing-listitem.html productTitle="Kanalizacja – jak zaprojektować i wykonać instalację? " productIntro="Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle." productImg="banner-main.png" %}
                  </nav>
                  
                  <h2 class="beam-border">Budowa rozdzielacza do ogrzewania podłogowego</h2>
                  <p>Rozdzielacz do podłogówki uzbrojony jest produktem, który powstał z połączenia mosiądzu oraz stali nierdzewnej. Dzięki temu wyróżnia się odpowiednią wytrzymałością. Główne części produktu, czyli belki wykonano z mosiądzu. Stal nierdzewna posłużyła natomiast do wyprodukowania trwałych uchwytów. Rozdzielacz można zamontować w systemach ogrzewania podłogowego. Główną funkcją, którą pełni jest rozdzielenie wody z kotła do pętli tworzących instalację.</p>
                  <h3>Budowa rozdzielacza do ogrzewania podłogowego</h3>
                  <p>Rozdzielacz do podłogówki uzbrojony jest produktem, który powstał z połączenia mosiądzu oraz stali nierdzewnej. Dzięki temu wyróżnia się odpowiednią wytrzymałością. Główne części produktu, czyli belki wykonano z mosiądzu. Stal nierdzewna posłużyła natomiast do wyprodukowania trwałych uchwytów. Rozdzielacz można zamontować w systemach ogrzewania podłogowego. Główną funkcją, którą pełni jest rozdzielenie wody z kotła do pętli tworzących instalację.</p>
                   <nav class="table-of-content">
                      <span class="title">Spis treści</span>
                      <ul>
                          <li><a href="">Kwiaty na balkon - na co zwrócić uwagę Kwiaty na balkon - na co zwrócić uwagę Kwiaty na balkon - na co zwrócić uwagę  na co zwrócić uwagę  na co zwrócić uwagę ?</a></li>
                          <li><a href="">Kwiaty na balkon - rodzaj stanowiska</a></li>
                          <li><a href="">Rośliny na balkon - przykładowe aranżacje</a></li>
                          <li><a href="">Rośliny na balkon - trawy i bluszcze</a></li>
                          <li><a href="">Kwiaty na balkon - FAQ</a></li>
                      </ul>
                  </nav>
                </div>
                <div class="beam-item b-size-1">
                    <div class="sticky-element">
                        {% include  parts/contact-profile.html %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- page_footer -->
  </div>

  {% include footer.html %}
</body>
</html>
