<!DOCTYPE html>
<html lang="{{ page.full-lang | default: site.lang | default: 'en' }}">
<head>
  {% include head.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pages/product.css?v=1">
</head>

<body>
  {% include header.html %}

  <div class="page-wrapper">
    {% include topline.html %}

    <div class="page page-products-listing">
      <div class="beams-wrapper global-beam-wrapper">
          <div class="beam">
              <nav class="beam-item">
                  <ul class="breadcrumbs">
                      <li><a href="index.html">Strona główna</a></li>
                      <li><a href="">Produkty</a></li>
                  </ul>
              </nav>
          </div>
          <main class="beam b-size-4 products-listing-content">
              <div class="beam-item b-size-3 products-listing-text">
                  <h1>{{ page.name }}</h1>
                  <p>{{ page.description }}</p>

                  {% for product_category in site.product_categories %}
                    {% include parts/product-category-section.html product_category=product_category %}
                  {% endfor %}
              </div>
              <div class="beam-item b-size-1">
                  <div class="sticky-element">
                      {% include parts/contact-profile.html %}
                  </div>
              </div>
          </main>
      </div>
    </div>

    <!-- page_footer -->
  </div>

  {% include footer.html %}
</body>
</html>
