<!DOCTYPE html>
<html lang="{{ page.full-lang | default: site.lang | default: 'en' }}">
<head>
  {% include head.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pages/product.css?v=1">
</head>

<body>
  {% include header.html %}

  <div class="page-wrapper">
    {% include topline.html %}

    <div class="page page-products-listing">
      <div class="beams-wrapper global-beam-wrapper">
          <div class="beam">
              <nav class="beam-item">
                  <ul class="breadcrumbs">
                      <li><a href="/pl">Strona główna</a></li>
                      <li><a href="/pl/produkty.html">Produkty</a></li>
                      <li><a href="{{page.url}}">{{page.name}}</a></li>
                  </ul>
              </nav>
          </div>
          <main class="beam b-size-4 products-listing-content">
              <div class="beam-item b-size-3 products-listing-text">
                  <h1>{{ page.name }}</h1>
                  <p>{{ page.intro }}</p>

                  {% assign product_path = page.path | prepend: 'collections/' %}
                  {% assign products = site.products | where: "parent_product_path", product_path %}

                  {% for product in products %}
                    {% include parts/products-listing-listitem.html product=product %}
                  {% endfor %}

                  {{ page.description | markdownify }}
              </div>
              <div class="beam-item b-size-1">
                  <div class="sticky-element">
                      {% include parts/contact-profile.html %}
                  </div>
              </div>
          </main>
      </div>
    </div>

    <!-- page_footer -->
  </div>

  {% include footer.html %}
</body>
</html>
