
{% assign short_parent_product_path = page.parent_product_path | remove: "collections/"%}
{% assign parent_product_helper = site.products | where: "path", short_parent_product_path | limit: 1 %}
{% assign parent_product = parent_product_helper[0] %}

<!DOCTYPE html>
<html lang="{{ page.full-lang | default: site.lang | default: 'en' }}">
<head>
  {% include head.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pages/product.css?v=1">
</head>

<body>
  {% include header.html %}

  <div class="page-wrapper">
    {% include topline.html %}

    <main class="page page-product">
        <div class="beams-wrapper global-beam-wrapper">
            <header class="beam b-size-4 product-intro">
                <div class="beam-item  b-size-2 photo">
                    <img src="/assets/img/banner-main.png" >
                </div>
                <div class="beam-item  b-size-2 content">
                    <div class="rating">
                        <p>Ocena: 4.67</p>
                        <svg class="star-5" xmlns="http://www.w3.org/2000/svg" width="105" height="16" viewBox="0 0 105 16">
                            <path d="M8.5,0l2.55,5.371,5.95.74-4.374,4.06L13.753,16,8.5,13.138,3.247,16l1.127-5.829L0,6.111l5.95-.74Z"/>
                            <path d="M8.5,0l2.55,5.371,5.95.74-4.374,4.06L13.753,16,8.5,13.138,3.247,16l1.127-5.829L0,6.111l5.95-.74Z" transform="translate(22)"/>
                            <path d="M8.5,0l2.55,5.371,5.95.74-4.374,4.06L13.753,16,8.5,13.138,3.247,16l1.127-5.829L0,6.111l5.95-.74Z" transform="translate(44)"/>
                            <path d="M8.5,0l2.55,5.371,5.95.74-4.374,4.06L13.753,16,8.5,13.138,3.247,16l1.127-5.829L0,6.111l5.95-.74Z" transform="translate(66)"/>
                            <path d="M8.5,0l2.55,5.371,5.95.74-4.374,4.06L13.753,16,8.5,13.138,3.247,16l1.127-5.829L0,6.111l5.95-.74Z" transform="translate(88)"/>
                        </svg>
                    </div>
                    <div class="title">
                        <h1>{{ page.name }}</h1>
                    </div>
                    <div class="date">
                        Data aktualizacji: <time datetime="{{ page.update_date | date_to_xmlschema }}">{{page.update_date | date: '%d-%m-%Y'}}</time>
                    </div>
                    <div class="specyfication">
                      {{ page.card_intro | markdownify}}
                    </div>
                    <div class="action">
                        <a href="" class="btn btn-sm btn-white"><img src="/assets/img/360.svg" >Podgląd 360°</a>
                        <a href="" class="btn btn-sm"><img src="/assets/img/more-info.svg" >więcej informacji</a>
                    </div>
                </div>
            </header>
            <div class="beam">
                <nav class="beam-item">
                    <ul class="breadcrumbs">
                        <li><a href="/pl">Strona główna</a></li>
                        <li><a href="/pl/produkty.html">Produkty</a></li>
                        {% if parent_product.name %}
                          <li><a href="{{parent_product.url}}">{{parent_product.name}}</a></li>
                        {% endif %}
                        <li><a href="{{page.url}}">{{page.name}}</a></li>
                    </ul>
                </nav>
            </div>
            <div class="beam b-size-4  product-content">
                <div class="beam-item b-size-3 product-text">
                  {{ content }}

                  <nav>
                      <h4 class="h2 beam-border">Pozostałe produkty</h4>

                      {% assign parent_product_path = page.parent_product_path %}
                      {% assign products_from_same_parent = site.products | where: "parent_product_path", parent_product_path %}
                      {% assign products_from_same_category = site.products | where: "category_path", page.category_path %}

                      {% if products_from_same_parent.size > 1 %}
                        jestem 1
                        {% assign products = products_from_same_parent %}
                      {% elsif products_from_same_category.size > 1 %}
                        jestem 2
                        {% assign products = products_from_same_category %}
                      {% else %}
                        jestem 3
                        {% assign products = site.products | where: "parent_product_path", null %}
                      {% endif %}

                      {% for product in products %}
                        {% if product.path == page.path %}
                          {% continue %}
                        {% endif %}
                        {% include parts/products-listing-listitem.html product=product %}
                      {% endfor %}




                  </nav>

                  {{ page.seo_content | markdownify }}

                </div>
                <div class="beam-item b-size-1">
                    <div class="sticky-element">
                        {% include  parts/contact-profile.html %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- page_footer -->
  </div>

  {% include footer.html %}
</body>
</html>
